<div class="container">
  <%= form_tag photos_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search by Title" %>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
      <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div class="container">
    <!-- width of .grid-sizer used for columnWidth -->
     <% @photos.each do |photo| %>

      <div class="block text-center">
        
        <%=link_to image_tag(photo.gambar.url(:medium), style: "border-radius: 15px;"), photo.gambar.url(:original), :popup=>['original_image', 'height=auto,width=100%'] %>
        <h3><%= photo.title %></h3>
        <p><%= photo.content %><%#= photo.content.truncate(20)  %></p>
        <%#= link_to 'read more', photo_path(photo.id) %>
        <!-- <h4>status : <%= photo.status %></h4> -->
         <% if (controller_name.eql? 'photos' and (action_name.eql? 'profile')) %>
        <p>
          <span class="glyphicon glyphicon-pencil"><%= link_to '', edit_photo_path(photo.id) %><span>
          <span> | </span>
          <span class="glyphicon glyphicon-trash">
            <%= link_to '', photo_path(photo.id), method: "DELETE", data: {confirm: 'Delete this data ? '} %>
          <span>
        </p>
       <% end %>
      </div>  
    <% end %>
   </div> 
</div>
