<div class="container">
  <%= form_tag photos_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search by Title" %>
  <% end %>
   <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
      <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

  <div class="container">
    <!-- width of .grid-sizer used for columnWidth -->
    <% @photos.each do |photo| %>
      <div class="block">
        <%=link_to image_tag(photo.gambar.url(:medium)), photo.gambar.url(:original), :popup=>['original_image', 'height=300,width=600'] %>
        <h3><%= photo.title %></h3>
        <p><%= photo.content.truncate(20)  %></p>
        <%= link_to 'read more', photo_path(photo.id) %>
        <h4>status : <%= photo.status %></h4>
        <p>
          <span><%= link_to 'edit', edit_photo_path(photo.id) %><span>
              <span> | </span>
              <span><%= link_to 'delete', photo_path(photo.id), method: "DELETE", data: {confirm: 'Delete this data ? '} %>
                <span>
                </p>
      </div>
    <% end %>
  </div>
</div>