<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <%= form_for @photo, url: photos_path, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= @photo.errors[:title].first unless @photo.errors[:title].blank? %>
      <br/>
      <%= f.label :content %>
      <%= f.text_area :content, cols: 20, rows: 10 %>
      <%= @photo.errors[:content].first unless @photo.errors[:content].blank? %>
      <br/>
      <%= f.label :status %>
      <div class="col-md-12" style="padding-bottom: 15px">
        <div class="col-md-3">
          <%= label :photo_status, 'active' %>
        </div>
        <div class="col-md-3">
          <%= f.radio_button :status, "active", class: "radio"%>
        </div>
        <div class="col-md-3">
          <%= label :photo_status, 'off' %>
        </div>
        <div class="col-md-3">
          <%= f.radio_button :status, "off", :checked => true , class: "radio"%>
        </div>
      </div>
      <br/>
      <%= f.file_field :gambar %>
      <%= @photo.errors[:gambar].first unless @photo.errors[:gambar].blank? %>
      <%= f.submit :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>